// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#main, .sidebar {
  // background-image: none;
  background-color: #eee !important;
}

#content {
  background: url('/images/line-tile.png') top left !important;
  background-image: none;
  background-color: rgba(240, 237, 227, 0.8) !important;
}

#main a {
  color: #1863a1 !important;
  border-bottom: 1px solid transparent !important;
  text-decoration: none !important;
}

#main a:hover {
  border-bottom: 1px solid !important;
  color: #1863a1 !important;
  text-decoration: none !important;
}

code {
  border-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  background: rgba(240, 237, 227, 0.8) !important;
  margin: 0 0.4em !important;
}

body>footer a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

#content .blog-index a[rel=full-article] {
  border: none !important;
  color: #343434 !important;
  background: #aaa !important;
}

#content .blog-index a[rel=full-article]:hover {
  background: #1863a1 !important;
  color: #fff !important;
  border: none !important;
  text-decoration: none !important;
}